<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title> FrostByte</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Yatra+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    </title>
   </head>
  <body>
    <div class="header">
        <div class="frostbyte">
          <b>FrostByte</b>
        </div>
        <a class="weatherwidget-io" href="https://forecast7.com/en/42d28n83d74/ann-arbor/?unit=us" data-label_1="ANN ARBOR" data-label_2="WEATHER" data-icons="Climacons Animated" data-mode="Current" data-theme="original" data-basecolor="#ADD6FF" data-highcolor="#ffa0a0" data-lowcolor="#579cff" data-cloudfill="#A2B5CD">ANN ARBOR WEATHER</a>
    </div>
    <div id='app'>
      <template>
      <h3 style="text-align: left; margin-left: 25px;">Welcome back {{ logName }}!
      <span style="float:right; margin-right: 10px; position:relative; font-size: medium;">
        <strong>{{ logName }}</strong>
        <button class = "btn btn-link" type="button">Logout</button>
      </span>
    </h3>
      </template>
   

      <!-- Upload Image -->
      <form>
        <input id="setUploadImg" class="file" type="file" value="">
        <button class = "btn btn-default" id="submitImg" type="submit" v-on:click="setUploadImg">Upload</button>
      </form>
      <br>
       <!-- See My Images -->
       <div>
         Search by user: 
         <input type="text" v-model="userNameSearch" name="fname" @keyup.enter="viewOwnerImgs"> <br>
        <button class = "btn btn-default" id="submitUser" type="button" @click="viewOwnerImgs">View User Images</button>
      </div>
    
      <!-- Display images like IG 
      <div>
      <div v-for="(result, index) in resultData">
        <div class = "col-lg-6 col-md-6 col-sm-6" style='margin-bottom: 50px; display: inline; height: 250px' >
          <div class="col-sm-4" style='max-width:200px;margin-right: 30px'>
            <img style='width: 120%; display: inline; ' v-bind:src="result.imgUrl">
              
            <strong> {{ result.likes }}</strong> {{result.likes !== 1 ? "likes" : "like"}} <button id="season-button1" class = "btn btn-success" @click="setComment(index)" style="margin:2px;">like</button>
             {{result.comments}}
             <div v-for="(comment, index2) in result.comments">
              <strong>user1:</strong> {{ comment }} 
            </div>
             <button id="season-button1" class = "btn btn-success" @click="setComment(index2)" style="margin:2px;">post</button> 

          </div>
        </div>
      </div>
    </div>
      <br>
-->
      <br>
      <!-- Display User's Images -->
      <div id=post>
      <div v-for="(result, index) in userSearchData">
        <div class = "col-lg-6 col-md-6 col-sm-6" style='margin-bottom: 50px; display: inline; height: 250px' >
          <div class="col-sm-4" style='max-width:200px;margin-right: 30px'>
            	<div class="img-container">
		            <img style='width: 120%; display: inline; ' v-bind:src="result.imgUrl">
            	</div>
	            <div>
             <strong> {{ result.likes }}</strong> {{result.likes !== 1 ? "likes" : "like"}} <button id="display-index" class = "btn btn-success" @click="likePost2(result.postId)" style="margin:2px;">like</button>
            </div>
            <div v-for="(comment, user) in result.comments">
              <strong>{{ user }}:</strong> {{ comment }} 
            </div>
            <button id="season-button-index" class = "btn btn-success" @click="setComment(index)" style="margin:2px;">post</button>
            <input v-model="query"  type="text">
          </div>
        </div>
      </div>
    </div>
    
    </div>
	  <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.13.2/firebase.js"></script>
	  <script src="https://www.gstatic.com/firebasejs/7.13.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.13.2/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.13.2/firebase-storage.js"></script>
	  <!-- TODO: Add SDKs for Firebase products that you want to use
       https://firebase.google.com/docs/web/setup#available-libraries -->
	  <script src="https://www.gstatic.com/firebasejs/7.13.2/firebase-analytics.js"></script>
  
    <script>
      // Your web app's Firebase configuration
      const firebaseConfig = {
	      apiKey: "AIzaSyDeOffdWrRWNqVEkE-A4ZA-VFIQ1jKZBt0",
       	authDomain: "frostbyte-d38da.firebaseapp.com",
     	  databaseURL: "https://frostbyte-d38da.firebaseio.com",
       	projectId: "frostbyte-d38da",
       	storageBucket: "frostbyte-d38da.appspot.com",
      	messagingSenderId: "798175526214",
       	appId: "1:798175526214:web:e44436de77a484e5abb947",
       	measurementId: "G-HH4R0G8PXH"
      }

    // Initialize Firebase
      firebase.initializeApp(firebaseConfig)
      firebase.analytics()
    </script>
    <script src="script.js"></script>
  </body>
</html>