.header {
  z-index: 100;
  position: fixed; /* Set the header to fixed position */
  top: 0; /* Position the header at the top of the page */
  height: 80px;
  width: 100%; /* Full width */
  border-width: 3px;
  display: flex;
}

.frostbyte {
  background-color: #ADD6FF;
  font-family: 'Yatra One', cursive;
  text-shadow: 3px 3px #A2B5CD;
  color: white;
  font-size: 50px;
  width: 100%; /* Full width */
  padding-left: 30px;
  padding-top: 3px;
  padding-right: 0px;
}

#app {
  margin-top: 90px;
}

.weatherwidget-io {
  min-width: 400px;
  right: 0;
  max-height: 80px;
  pointer-events:none;
}

.post{
  border: solid darkcyan 2px;
  background-color: bisque;
  min-width: 120%;
  margin-bottom: 30px;
  display: inline-block;
}

.img{
  width: 100%;
}