.header {
  z-index: 100;
  position: fixed; /* Set the header to fixed position */
  top: 0; /* Position the header at the top of the page */
  height: 80px;
  width: 100%; /* Full width */
  border-width: 3px;
  display: flex;
}

.frostbyte {
  background-color: #ADD6FF;
  font-family: 'Yatra One', cursive;
  text-shadow: 3px 3px #A2B5CD;
  color: white;
  font-size: 50px;
  width: 100%; /* Full width */
  padding-left: 30px;
  padding-top: 3px;
  padding-right: 0px;
}

#app {
  margin-top: 90px;
}

.weatherwidget-io {
  min-width: 400px;
  right: 0;
  max-height: 80px;
  pointer-events:none;
}


.post {
  border: solid #ADD6FF 2px;
  border-radius: 2px;
  background-color: #f5fcfc;
  margin-bottom: 30px;
  width: 500px;
  height: 500px;
  padding: 30px;
}

.post img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
}

.post img {
  max-width: 300px;
  max-height: 200px;
  object-fit: cover;
}

.post p {
  margin-left: 10px;
}

.post button {
  font-size: 11px;
  background-color: #ADD6FF;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  border-radius: 4px;
  border-width: 1px;
  border-color: #ADD6FF;
}

.post button:active {
  background-color: #0060e8;
}